// COLORS
$color-primary: rgb(154, 127, 192);
$color-secondary: rgb(55, 145, 218);
$color-tertiary: rgb(46, 61, 97);

$gradient1-primary: #ffb900;
$gradient1-secondary: #ff7730;

$gradient2-primary: #2998ff;
$gradient2-secondary: #5643fa;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

// CURVES
$animation-curve: cubic-bezier(0.39, 0.575, 0.565, 1);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
